.AddRemoveCardBtn {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  margin-left: 12px;
  color: #383840;
  cursor: pointer;
  user-select: none;
}

.AddRemoveCardBtn.remove {
  margin-left: 702px;
}
