.Card {
  border: 4px solid black;
  background-color: #fdffef;
  border-right-color: #c6caa9;
  border-bottom-color: #c6caa9;
  border-top-color: #f1f3e1;
  border-left-color: #f1f3e1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #383840;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  /* width: 720px;
  height: 360px; */
}
